@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 트랙 배경 제거 + 얇게 만들기 */
::-webkit-scrollbar {
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 4px;
  }
  
.download-icon-btn {
  background-image: url('/download-icon.jpg');
  background-size: 65%; /* 아이콘 크기 조정 */
  background-repeat: no-repeat;
  background-position: center;
}

.instagram-icon-btn {
  background-image: url('/instagram-icon.png');
  background-size: 65%; /* 아이콘 크기 조정 */
  background-repeat: no-repeat;
  background-position: center;
}  